iMyTripLogic/web/WEB-INF/wsdl/localhost_8080/iMyTripService/accountSOAP.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://accountService.serviceSoap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://accountService.serviceSoap/" name="accountSOAP">
<types>
<xsd:schema>
<xsd:import namespace="http://accountService.serviceSoap/" schemaLocation="http://localhost:8080/iMyTripService/accountSOAP?xsd=1"/>
</xsd:schema>
</types>
<message name="getAccount">
<part name="parameters" element="tns:getAccount"/>
</message>
<message name="getAccountResponse">
<part name="parameters" element="tns:getAccountResponse"/>
</message>
<message name="eseguiBonifico">
<part name="parameters" element="tns:eseguiBonifico"/>
</message>
<message name="eseguiBonificoResponse">
<part name="parameters" element="tns:eseguiBonificoResponse"/>
</message>
<message name="deleteConto">
<part name="parameters" element="tns:deleteConto"/>
</message>
<message name="deleteContoResponse">
<part name="parameters" element="tns:deleteContoResponse"/>
</message>
<message name="getMovimenti">
<part name="parameters" element="tns:getMovimenti"/>
</message>
<message name="getMovimentiResponse">
<part name="parameters" element="tns:getMovimentiResponse"/>
</message>
<message name="getAccountByuNameAndPass">
<part name="parameters" element="tns:getAccountByuNameAndPass"/>
</message>
<message name="getAccountByuNameAndPassResponse">
<part name="parameters" element="tns:getAccountByuNameAndPassResponse"/>
</message>
<message name="updateAccount">
<part name="parameters" element="tns:updateAccount"/>
</message>
<message name="updateAccountResponse">
<part name="parameters" element="tns:updateAccountResponse"/>
</message>
<message name="getLocaitaPubbliche">
<part name="parameters" element="tns:getLocaitaPubbliche"/>
</message>
<message name="getLocaitaPubblicheResponse">
<part name="parameters" element="tns:getLocaitaPubblicheResponse"/>
</message>
<message name="deleteLocalitaPrivata">
<part name="parameters" element="tns:deleteLocalitaPrivata"/>
</message>
<message name="deleteLocalitaPrivataResponse">
<part name="parameters" element="tns:deleteLocalitaPrivataResponse"/>
</message>
<message name="createAccount">
<part name="parameters" element="tns:createAccount"/>
</message>
<message name="createAccountResponse">
<part name="parameters" element="tns:createAccountResponse"/>
</message>
<message name="enableAccount">
<part name="parameters" element="tns:enableAccount"/>
</message>
<message name="enableAccountResponse">
<part name="parameters" element="tns:enableAccountResponse"/>
</message>
<message name="restPass">
<part name="parameters" element="tns:restPass"/>
</message>
<message name="restPassResponse">
<part name="parameters" element="tns:restPassResponse"/>
</message>
<message name="getAccountByName">
<part name="parameters" element="tns:getAccountByName"/>
</message>
<message name="getAccountByNameResponse">
<part name="parameters" element="tns:getAccountByNameResponse"/>
</message>
<portType name="accountSOAP">
<operation name="getAccount">
<input wsam:Action="http://accountService.serviceSoap/accountSOAP/getAccountRequest" message="tns:getAccount"/>
<output wsam:Action="http://accountService.serviceSoap/accountSOAP/getAccountResponse" message="tns:getAccountResponse"/>
</operation>
<operation name="eseguiBonifico">
<input wsam:Action="http://accountService.serviceSoap/accountSOAP/eseguiBonificoRequest" message="tns:eseguiBonifico"/>
<output wsam:Action="http://accountService.serviceSoap/accountSOAP/eseguiBonificoResponse" message="tns:eseguiBonificoResponse"/>
</operation>
<operation name="deleteConto">
<input wsam:Action="http://accountService.serviceSoap/accountSOAP/deleteContoRequest" message="tns:deleteConto"/>
<output wsam:Action="http://accountService.serviceSoap/accountSOAP/deleteContoResponse" message="tns:deleteContoResponse"/>
</operation>
<operation name="getMovimenti">
<input wsam:Action="http://accountService.serviceSoap/accountSOAP/getMovimentiRequest" message="tns:getMovimenti"/>
<output wsam:Action="http://accountService.serviceSoap/accountSOAP/getMovimentiResponse" message="tns:getMovimentiResponse"/>
</operation>
<operation name="getAccountByuNameAndPass">
<input wsam:Action="http://accountService.serviceSoap/accountSOAP/getAccountByuNameAndPassRequest" message="tns:getAccountByuNameAndPass"/>
<output wsam:Action="http://accountService.serviceSoap/accountSOAP/getAccountByuNameAndPassResponse" message="tns:getAccountByuNameAndPassResponse"/>
</operation>
<operation name="updateAccount">
<input wsam:Action="http://accountService.serviceSoap/accountSOAP/updateAccountRequest" message="tns:updateAccount"/>
<output wsam:Action="http://accountService.serviceSoap/accountSOAP/updateAccountResponse" message="tns:updateAccountResponse"/>
</operation>
<operation name="getLocaitaPubbliche">
<input wsam:Action="http://accountService.serviceSoap/accountSOAP/getLocaitaPubblicheRequest" message="tns:getLocaitaPubbliche"/>
<output wsam:Action="http://accountService.serviceSoap/accountSOAP/getLocaitaPubblicheResponse" message="tns:getLocaitaPubblicheResponse"/>
</operation>
<operation name="deleteLocalitaPrivata">
<input wsam:Action="http://accountService.serviceSoap/accountSOAP/deleteLocalitaPrivataRequest" message="tns:deleteLocalitaPrivata"/>
<output wsam:Action="http://accountService.serviceSoap/accountSOAP/deleteLocalitaPrivataResponse" message="tns:deleteLocalitaPrivataResponse"/>
</operation>
<operation name="createAccount">
<input wsam:Action="http://accountService.serviceSoap/accountSOAP/createAccountRequest" message="tns:createAccount"/>
<output wsam:Action="http://accountService.serviceSoap/accountSOAP/createAccountResponse" message="tns:createAccountResponse"/>
</operation>
<operation name="enableAccount">
<input wsam:Action="http://accountService.serviceSoap/accountSOAP/enableAccountRequest" message="tns:enableAccount"/>
<output wsam:Action="http://accountService.serviceSoap/accountSOAP/enableAccountResponse" message="tns:enableAccountResponse"/>
</operation>
<operation name="restPass">
<input wsam:Action="http://accountService.serviceSoap/accountSOAP/restPassRequest" message="tns:restPass"/>
<output wsam:Action="http://accountService.serviceSoap/accountSOAP/restPassResponse" message="tns:restPassResponse"/>
</operation>
<operation name="getAccountByName">
<input wsam:Action="http://accountService.serviceSoap/accountSOAP/getAccountByNameRequest" message="tns:getAccountByName"/>
<output wsam:Action="http://accountService.serviceSoap/accountSOAP/getAccountByNameResponse" message="tns:getAccountByNameResponse"/>
</operation>
</portType>
<binding name="accountSOAPPortBinding" type="tns:accountSOAP">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eseguiBonifico">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteConto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMovimenti">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAccountByuNameAndPass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLocaitaPubbliche">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteLocalitaPrivata">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="enableAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="restPass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAccountByName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="accountSOAP">
<port name="accountSOAPPort" binding="tns:accountSOAPPortBinding">
<soap:address location="http://localhost:8080/iMyTripService/accountSOAP"/>
</port>
</service>
</definitions>