iMyTripLogic/src/conf/xml-resources/web-service-references/NewWebService/wsdl/localhost_8080/iMyTripService/NewWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://googleMapService.serviceSoap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://googleMapService.serviceSoap/" name="NewWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://googleMapService.serviceSoap/" schemaLocation="http://localhost:8080/iMyTripService/NewWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="iMyTripJson">
<part name="parameters" element="tns:iMyTripJson"/>
</message>
<message name="iMyTripJsonResponse">
<part name="parameters" element="tns:iMyTripJsonResponse"/>
</message>
<message name="getJsonSOAP">
<part name="parameters" element="tns:getJsonSOAP"/>
</message>
<message name="getJsonSOAPResponse">
<part name="parameters" element="tns:getJsonSOAPResponse"/>
</message>
<message name="getPrezzoTariffeExtraUrbane">
<part name="parameters" element="tns:getPrezzoTariffeExtraUrbane"/>
</message>
<message name="getPrezzoTariffeExtraUrbaneResponse">
<part name="parameters" element="tns:getPrezzoTariffeExtraUrbaneResponse"/>
</message>
<portType name="SOAPGoogle">
<operation name="iMyTripJson">
<input wsam:Action="http://googleMapService.serviceSoap/SOAPGoogle/iMyTripJsonRequest" message="tns:iMyTripJson"/>
<output wsam:Action="http://googleMapService.serviceSoap/SOAPGoogle/iMyTripJsonResponse" message="tns:iMyTripJsonResponse"/>
</operation>
<operation name="getJsonSOAP">
<input wsam:Action="http://googleMapService.serviceSoap/SOAPGoogle/getJsonSOAPRequest" message="tns:getJsonSOAP"/>
<output wsam:Action="http://googleMapService.serviceSoap/SOAPGoogle/getJsonSOAPResponse" message="tns:getJsonSOAPResponse"/>
</operation>
<operation name="getPrezzoTariffeExtraUrbane">
<input wsam:Action="http://googleMapService.serviceSoap/SOAPGoogle/getPrezzoTariffeExtraUrbaneRequest" message="tns:getPrezzoTariffeExtraUrbane"/>
<output wsam:Action="http://googleMapService.serviceSoap/SOAPGoogle/getPrezzoTariffeExtraUrbaneResponse" message="tns:getPrezzoTariffeExtraUrbaneResponse"/>
</operation>
</portType>
<binding name="SOAPGooglePortBinding" type="tns:SOAPGoogle">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="iMyTripJson">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getJsonSOAP">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPrezzoTariffeExtraUrbane">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="NewWebService">
<port name="SOAPGooglePort" binding="tns:SOAPGooglePortBinding">
<soap:address location="http://localhost:8080/iMyTripService/NewWebService"/>
</port>
</service>
</definitions>