iMyTripLogic/src/conf/xml-resources/web-service-references/accountSOAP/wsdl/localhost_8080/iMyTripService/accountSOAP.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://accountService.serviceSoap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://accountService.serviceSoap/">

<xs:element name="Movimento" type="tns:movimento"/>

<xs:element name="account" type="tns:account"/>

<xs:element name="conto" type="tns:conto"/>

<xs:element name="createAccount" type="tns:createAccount"/>

<xs:element name="createAccountResponse" type="tns:createAccountResponse"/>

<xs:element name="deleteConto" type="tns:deleteConto"/>

<xs:element name="deleteContoResponse" type="tns:deleteContoResponse"/>

<xs:element name="deleteLocalitaPrivata" type="tns:deleteLocalitaPrivata"/>

<xs:element name="deleteLocalitaPrivataResponse" type="tns:deleteLocalitaPrivataResponse"/>

<xs:element name="enableAccount" type="tns:enableAccount"/>

<xs:element name="enableAccountResponse" type="tns:enableAccountResponse"/>

<xs:element name="eseguiBonifico" type="tns:eseguiBonifico"/>

<xs:element name="eseguiBonificoResponse" type="tns:eseguiBonificoResponse"/>

<xs:element name="getAccount" type="tns:getAccount"/>

<xs:element name="getAccountByName" type="tns:getAccountByName"/>

<xs:element name="getAccountByNameResponse" type="tns:getAccountByNameResponse"/>

<xs:element name="getAccountByuNameAndPass" type="tns:getAccountByuNameAndPass"/>

<xs:element name="getAccountByuNameAndPassResponse" type="tns:getAccountByuNameAndPassResponse"/>

<xs:element name="getAccountResponse" type="tns:getAccountResponse"/>

<xs:element name="getLocaitaPubbliche" type="tns:getLocaitaPubbliche"/>

<xs:element name="getLocaitaPubblicheResponse" type="tns:getLocaitaPubblicheResponse"/>

<xs:element name="getMovimenti" type="tns:getMovimenti"/>

<xs:element name="getMovimentiResponse" type="tns:getMovimentiResponse"/>

<xs:element name="localitaPrivata" type="tns:localitaPrivata"/>

<xs:element name="localitaPubblica" type="tns:localitaPubblica"/>

<xs:element name="rc" type="tns:rc"/>

<xs:element name="restPass" type="tns:restPass"/>

<xs:element name="restPassResponse" type="tns:restPassResponse"/>

<xs:element name="updateAccount" type="tns:updateAccount"/>

<xs:element name="updateAccountResponse" type="tns:updateAccountResponse"/>

<xs:complexType name="updateAccount">
<xs:sequence>
<xs:element name="Account" type="tns:account" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="account">
<xs:complexContent>
<xs:extension base="tns:rc">
<xs:sequence>
<xs:element name="userName" type="xs:string" minOccurs="0"/>
<xs:element name="pass" type="xs:string" minOccurs="0"/>
<xs:element name="mail" type="xs:string" minOccurs="0"/>
<xs:element name="abilitato" type="xs:boolean"/>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
<xs:element name="cognome" type="xs:string" minOccurs="0"/>
<xs:element name="dataNascita" type="xs:string" minOccurs="0"/>
<xs:element name="localitaPrivataList" type="tns:localitaPrivata" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="contoList" type="tns:conto" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="rc">
<xs:sequence>
<xs:element name="rc" type="xs:int"/>
<xs:element name="uuid" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="localitaPrivata">
<xs:sequence>
<xs:element name="descrizione" type="xs:string" minOccurs="0"/>
<xs:element name="idLocalita" type="xs:int" minOccurs="0"/>
<xs:element name="latitudine" type="xs:double"/>
<xs:element name="longitudine" type="xs:double"/>
<xs:element name="userName" type="tns:account" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="conto">
<xs:sequence>
<xs:element name="codiceCarta" type="xs:string" minOccurs="0"/>
<xs:element name="idConto" type="xs:int" minOccurs="0"/>
<xs:element name="saldo" type="xs:float"/>
<xs:element name="tipo" type="xs:string" minOccurs="0"/>
<xs:element name="userName" type="tns:account" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateAccountResponse">
<xs:sequence>
<xs:element name="return" type="tns:account" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMovimenti">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMovimentiResponse">
<xs:sequence>
<xs:element name="return" type="tns:movimento" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="movimento">
<xs:complexContent>
<xs:extension base="tns:rc">
<xs:sequence>
<xs:element name="idMovimento" type="xs:int" minOccurs="0"/>
<xs:element name="data" type="xs:string" minOccurs="0"/>
<xs:element name="importo" type="xs:float"/>
<xs:element name="descrizione" type="xs:string" minOccurs="0"/>
<xs:element name="idConto" type="tns:conto" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="getAccountByName">
<xs:sequence>
<xs:element name="Nome" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAccountByNameResponse">
<xs:sequence>
<xs:element name="return" type="tns:account" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="restPass">
<xs:sequence>
<xs:element name="emailUtente" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="restPassResponse">
<xs:sequence>
<xs:element name="return" type="tns:rc" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eseguiBonifico">
<xs:sequence>
<xs:element name="userName" type="xs:string" minOccurs="0"/>
<xs:element name="idConto" type="xs:int"/>
<xs:element name="prezzo" type="xs:float"/>
<xs:element name="descrizione" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eseguiBonificoResponse">
<xs:sequence>
<xs:element name="return" type="tns:account" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createAccount">
<xs:sequence>
<xs:element name="Account" type="tns:account" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createAccountResponse">
<xs:sequence>
<xs:element name="return" type="tns:rc" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteLocalitaPrivata">
<xs:sequence>
<xs:element name="localitaToDelete" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteLocalitaPrivataResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAccountByuNameAndPass">
<xs:sequence>
<xs:element name="userName" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAccountByuNameAndPassResponse">
<xs:sequence>
<xs:element name="return" type="tns:account" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enableAccount">
<xs:sequence>
<xs:element name="Account" type="tns:account" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="enableAccountResponse">
<xs:sequence>
<xs:element name="return" type="tns:rc" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLocaitaPubbliche">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getLocaitaPubblicheResponse">
<xs:sequence>
<xs:element name="return" type="tns:localitaPubblica" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="localitaPubblica">
<xs:complexContent>
<xs:extension base="tns:rc">
<xs:sequence>
<xs:element name="idLocalita" type="xs:int" minOccurs="0"/>
<xs:element name="descrizione" type="xs:string" minOccurs="0"/>
<xs:element name="latitudine" type="xs:double"/>
<xs:element name="longitudine" type="xs:double"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="getAccount">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAccountResponse">
<xs:sequence>
<xs:element name="return" type="tns:account" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteConto">
<xs:sequence>
<xs:element name="contoToDelete" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteContoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>